<nav class="navbar navbar-expand navbar-dark bg-primary shadow-sm">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="index.html">
      <img src="./img/logoUTN.webp" alt="Logo de la facultad" height="40" class="me-4" />
      <span class="fw-bold">Comunicaciones</span>
    </a>

    <!-- Enlaces de navegación -->
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" id="nav-index" href="index.html">
          <i class="fas fa-broadcast-tower me-1"></i>Ganancia para Antena B
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="nav-temperatura" href="temperatura.html">
          <i class="fas fa-temperature-low me-1"></i>Receptor bajo temperatura
        </a>
      </li>
    </ul>
  </div>
</nav>